.masthead {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #eee;
    background-color: white;
    z-index: 100;
}

.masthead__mobiles {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.masthead__mobile {
    padding: 5px;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    font-size: 20px;
}

.masthead__brand {
    display: none;
}

.masthead__links {
    display: none;
}

.masthead__form {
    display: none;
}

.masthead__icons {
    display: none;
}

@media (min-width: 992px) {
    .masthead__mobiles {
        display: none;
    }
    .masthead__brand {
        color: $color__primary--pinterest-red;
        width: 50px;
        height: 100%;
        position: absolute;
        left: 0; 
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .masthead__links {
        padding: 0;
        margin: 0;
        position: absolute;
        display: block;
        left: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .masthead__link {
        list-style-type: none;
        margin: 10px;
    }

    .masthead__form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 55%;
    }

    .masthead__input--search {
        width: 100%;
        height: 40px;
        background: $color__accent--gallery-grey;
        position: absolute;
        margin: 0 auto;
        border: 0;
        border-radius: 5px;
    }

    .masthead__icons {
        position: absolute;
        right: 0;
        width: 250px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #b5b5b5;
    }
}